.header-container.houses {
  background-image: url(./asets/houses-header.png);
}

.houses {
  width: 100%;
  margin: 0 auto;
}
.houses-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  box-shadow: 0px 3px 6px #00000029;
  width: 90%;
  margin: 3rem auto 4rem auto;
}
.houses-main img {
  max-width: 100%;
}
.houses-main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  background-color: white;
  padding-left: 3rem;
}
.houses-main-text > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.houses-main-text i {
  color: #eea154;
  font-size: 2.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.houses-main-text h5 {
  color: #444444;
  font-size: 1.2rem;
}
.houses-main-text h2 {
  color: #444444;
  margin-left: 1rem;
}
.houses-main-text p {
  width: 93%;
  line-height: 1.7rem;
  margin-top: 0.3rem;
}
.houses-image-holder {
  width: 50%;
  height: 100%;
  background-image: url(./asets/houses/hauses-main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.houses-footer {
  background-color: #245677;
  width: 100%;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.houses-footer > h3 {
  width: 80%;
  color: #efefef;
  font-size: 2rem;
  text-align: center;
}
.houses-footer-container {
  display: flex;
  width: 80%;
  background-color: white;
  position: relative;
  padding: 1rem;
  box-shadow: 0px 5px 6px #00000029;
}
.houses-footer-image {
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.houses-footer-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100%;
}
.houses-footer-text h3 {
  font-size: 2rem;
}
strong {
  padding-top: 10rem;
}
.houses-footer-text p {
  line-height: 1.7rem;
}
.number {
  position: absolute;
  width: 5rem;
  height: 5rem;
  font-size: 5rem;
  top: 0;
  left: 0;
  color: #245677;
}
.one {
  left: 100%;
  transform: translateX(-100%);
}
.two {
  top: 0;
  right: -50%;
  transform: translateX(50%);
}
@media (max-width: 1100px) {
  .two {
    right: 0;
    transform: translateX(0);
  }
  .houses-footer-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .houses-main {
    min-height: 100vmax;
  }
  .houses-main-text p {
    line-height: 1.3rem;
  }

  .houses-image-holder {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .houses-main {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
  }
  .houses-image-holder {
    width: 90vw;
    height: 25vh;
  }
  .houses-main * + * {
    margin-top: 1rem;
  }
  .houses-main p {
    width: 100%;
    line-height: 1rem;
  }
  .houses-footer {
    height: auto;
  }
  .houses-footer h3 {
    width: 100%;
  }
  .houses-footer-container {
    height: auto;
    margin-top: 2rem;
    display: block;
    margin-bottom: 2rem;
  }
  .houses-footer-container p {
    width: 100%;
  }
  .two {
    left: 100%;
    transform: translateX(-100%);
  }
  .number {
    top: 0;
    right: 0;
    font-size: 2rem;
    width: 1.5rem;
    height: 1rem;
  }
  .houses-footer-text {
    width: 100%;
    color: #245677;
  }
}
