.main-galery img {
  max-width: 5.5rem;
}
.main-galery h2 {
  margin-bottom: 2rem;
  color: #444444;
}
.main-galery {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: #c5c5c5;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 1100px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 700px) {
  .main-galery img {
    max-width: 100%;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
