* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
i.burger {
  display: none;
}
i.close-burger {
  display: none;
}

body {
  background-color: #efefef;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}

nav a {
  text-decoration: none;
  color: black;
}
.nav-list {
  flex: 1;
  display: flex;
  max-width: 75%;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  padding-left: 3vw;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  width: 10%;
  margin-right: 5%;
}

nav ul {
  list-style: none;
}
.contact-info {
  height: 5vh;
  max-width: 100vw;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
}
.phone-holder {
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.contact-info i,
.contact-info p,
.contact-info a {
  color: #efefef;
  font-size: 0.75rem;
}
.contact-info p {
  display: inline;
  margin-left: 0.2rem;
}
.contact-info a {
  text-decoration: none;
}
#underscore {
  position: absolute;
  top: 61%;
  left: 0;
  height: 2px;
  background-color: black;
  opacity: 1;
  transition: all 0.3s ease;
}
#return-to-top {
  background-color: #3498db;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: fixed;
  bottom: 90px;
  right: 15px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  display: none;
}
#return-to-top.showBtn {
  display: block;
}

.see-politics {
  width: 50vw;
  height: 25vh;
  background-color: #3498db;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
}
.inner p {
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.inner {
  background-color: white;
  width: 99.5%;
  height: 98%;
  position: relative;
}
.inner button {
  background-color: #3498db;
  color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}
.inner button:hover {
  border: 1px solid #3498db;
  color: #3498db;
  background-color: white;
}
.close-see-politics {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  right: 0;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .nav-list {
    display: none;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    /* margin: 0 auto; */
  }
  .nav-list li,
  i {
    margin-top: 2rem;
  }
  .logo {
    margin-top: 0.5rem;
  }
  i.burger {
    display: block;
    font-size: 2rem;
    margin-right: 1.5rem;
    transform: translateY(-50%);
  }
  i.close-burger {
    display: block !important;
  }
  #underscore {
    display: none;
  }
  .contact-info {
    min-height: 5vh;
    height: auto;
    justify-content: space-between;
  }
  .phone-holder {
    display: block;
  }
}
@media (max-width: 1100px) {
}
@media (max-width: 700px) {
  .nav-list {
    display: none;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-list li,
  i {
    margin-top: 2rem;
  }
  .logo {
    margin-top: 0.5rem;
  }
  i.burger {
    display: block;
    font-size: 2rem;
    margin-right: 1.5rem;
    transform: translateY(-50%);
  }
  i.close-burger {
    display: block !important;
  }
  #underscore {
    display: none;
  }
  .contact-info {
    min-height: 5vh;
    height: auto;
    justify-content: space-between;
  }
  .phone-holder {
    display: block;
  }
}
