.what-we-offer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  background-color: #efefef;
  padding: 2rem;
}
.main-offer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25vw;
  /* height: 20vh; */
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
}
.inner-offer {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.main-offer h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.main-offer p {
  text-align: left;
  font-size: 0.9rem;
}
.offer-line {
  width: 1px;
  height: 65%;
  background-color: #707070;
}
.main-offer i {
  font-size: 3rem;
}
@media (max-width: 1100px) {
  .what-we-offer {
    gap: 1rem;
  }

  .main-offer {
    width: 42vw;
  }
}
@media (max-width: 850px) {
  .what-we-offer {
    flex-direction: column;
    gap: 1rem;
  }
  .main-offer i {
    margin-top: 0;
  }
  .main-offer {
    width: 100%;
    margin-top: 1rem;
  }
  .offer-line {
    height: 10vh;
  }
}
